.container {
    padding: 2rem;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .profileImage {
    border-radius: 50%;
  }
  
  .profileText {
    max-width: 600px;
  }

  
  .skills {
    text-align: center;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    background: #f0f0f0;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    color: black;
  }

  .hobbies {
    text-align: center;
    margin-top: 20px;
  }
  